{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<header>
    <h1>Sliced Pizza</h1>
    <h2>Fresh pizza delivered direct to your door</h2>
    <div class="my-5">
        <h4>
            <a href="#" class="btn btn-lg btn-outline-light rounded-0 text-uppercase py-3">Order Now</a>
        </h4>
    </div>
</header>
{% endblock %}